
// COLORS
$color-primary-dark: #1239e7cc;
$color-primary-light: #529beed8;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horinzontal: 6rem;
